name: Auto Assign
on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
jobs:
  run:
    uses: helpers4/.github/.github/workflows/reusable-auto-assign.yml@main
    with:
      assignees: baxyz
      numOfAssignee: 1
